<app-Title [title]="'Event'"></app-Title>
<hr>

<div class="form-inline d-inline">
    <div class="d-flex justify-content-center">
        <Strong>Filter Events:</Strong>
        <input 
        type="text" 
        class="form-control mb-2 d-inline" 
        placeholder="Search"
        [(ngModel)]="filterList">
    </div>
</div>
<h3 *ngIf="!_showkeyword">Searching for: {{filterList}}</h3>
<table class="table table-striped">
    <thead class="table-primary">
        <tr>
            <th>
                <button type="button" class="btn btn-outline-dark btn-sm" style = "font-weight: bold;" (click)="showImage()">
                <i class="{{showImg ? 'fa fa-eye-slash' : 'fa fa-eye'}}">
                </i>
                {{showImg ? 'Hide Image' : 'Show Image'}}
                </button>
            </th>
            <th>Theme</th>
            <th>Place</th>
            <th>Date</th>
            <th>People Quantity</th>
            <th>Lot</th>            
            <th>Options</th>
        </tr>
    </thead>
    <tbody *ngIf="events && events.length">
        <tr *ngFor="let event of filteredEvents">
            <td>
                <img [collapse]="!showImg"
                [isAnimated]="true"
                src="{{event.imageURL}}"
                [style.width.px]="75"
                [style.margin.px]="2"
                alt="">
            </td>
            <td>{{event.theme}}</td>
            <td>{{event.place}}</td>
            <td>{{event.eventDate | DateTimeFormat}}</td>
            <td>{{event.peopleQuantity}}</td>
            <td>{{event.lots[0].name}}</td>           
            <td>
                <button type="button" class="btn btn-primary btn-sm" style="margin: 10px" tooltip="Edit">
                     <i class = "fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" tooltip="Delete" (click)="openModal(template)">
                     <i class = "fa fa-trash"></i>
                </button>  
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!events && !events.length">
        <td colspan="8" class="text-center">
            <h4>There are no events scheduled!</h4>
        </td>    
    </tfoot>
</table>

<ng-template #template>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>



